name: build

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build
    runs-on: [windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Clean and install
        run: npm ci
      - name: Build app
        run: npm run tauri build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: installers
          path: ./src-tauri/target/release/bundle/
